// @mixin ellipsis {
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
// }

// @mixin multi-ellipsis($font-size, $line-height, $lines) {
//     font-size: $font-size;
//     line-height: $line-height;
//     max-height: $line-height * $lines;
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-line-clamp: $lines;
//     -webkit-box-orient: vertical; /* autoprefixer: off */
// }




@mixin  ellipsis($font-size, $line-height, $lines) {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: $font-size;
    line-height: $line-height;

    @if($lines > 1){
    max-height: $line-height * $lines;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical; /* autoprefixer: off */
    }@else{
        white-space: nowrap;
    }
}

@mixin clear {
    &::after{
        content: "";
        clear: both;
        display: block;
    }
}